footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  line-height: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
}